* {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
  }

.header-container {
    height: 90px;
    display: flex;
    align-items: center;
    background-color:#0C0C0E;
    color: #FFFFFF;
}

h1 {
    font-family: Forum,  sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 20px;
    margin-right: 454px; 
    color: #FFF;
}

h2{
    color: #0C0C0E;
    font-family: Forum,sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 30px;
}

.nav-item:hover { 
    color: #BB945F;
}

.icon-profile {
    margin-left: 10px;
}

.section-welcome {
    background: url(img/Welcome.jpg);
    background-position: center center;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.overlay {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    height: 300px;
    width: 100%;
    position: relative;
}

.welcome-card{
    display: flex;
    position: absolute;
    top: 220px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    background: #0C0C0E;
}

.welcome-text {
    width: 520px;
    color: #FFF;
    text-align: center;
    font-family: Forum, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.description {
    color: #000;
    text-align: center;
    font-style: normal;
    line-height: 40px; 
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.create-line {
    width: 50px;
    border-top: 1px solid #0C0C0E;
    margin-top: 20px;
}

.images-items {
    display: flex;
    justify-content: center;
}

.images-items img {
    width: 450px;
    height: 560px;
    margin: 20px 12.5px;
}

.carousel-pagination {
    display: flex;
    justify-content: center;
    margin: 15px auto 55px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.carousel-button-active{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #BB945F;
    border: 0;
    cursor: pointer;
}

.carousel-button{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border: 0;
    cursor: pointer;
}

.content-favorites {
    display: inline;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}

.seasons-container{
    display: flex;
    width: 710px;
    height: 24px;
    justify-content: space-between;
    margin: 35px 14px 45px;
}

.radiobutton-label {
    padding: 5px;
    cursor: pointer;
}

.radio-season{
    font-style: normal;
    line-height: normal;
}

.radiobutton:checked~.radio-season{
    font-weight: 700;
}

.custom-radio {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #000;
    border-radius: 50%;
    margin-right: 14px;
    margin-top: 5px;
    vertical-align: text-top;
    position: relative;
}

.custom-radio::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.radiobutton:checked + .custom-radio::before {
    display: block;
}

.radiobutton {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    width: 1397px;
    justify-content: space-between;
}

.book-card {
    width: 508px;
    height: 524px;
    flex-shrink: 0;
    margin: 0 20px 40px;
    padding: 15px 19px;
    border: 1px solid #000;
    position: relative;
}

.pick-title {
    color: #000;
    font-family: Forum, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book-line {
    width: 60px;
    border-top: 1px solid #BB945F;
    margin-bottom: 20px;
}

.book-info {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book-name {
    text-transform: uppercase;
}

.book-description {
    width: 358px;
    font-size: 15px;
    line-height: 40px; /* 266.667% */
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.button-buy{
    width: 75px;
    height: 30px;
    color: #0C0C0E;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background: #FFF;
    position: absolute;
    top:510px;
    cursor: pointer;
    transition: all 1s ease;
}

.book-img {
    width: 200px;
    height: 300px;
    top: 255px;
    left: 390px;
    z-index: 1;
    position: absolute;
}

.button-buy:hover { 
    background: #BB945F;
    border: 0; 
}

.button-own{
    width: 75px;
    height: 30px;
    color: #BB945F;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #FFF;
    position: absolute;
    top:510px;
}

.content-coffee {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    margin: 0 20px 40px;
}

.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px 60px;
}

.menu-title {
    color: #BB945F;
    font-family: Forum, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu-drinks {
    text-align: left;
}

.menu-desserts{
    text-align: right;
}

.product-name {
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-right: 60px;
}

.drinks-item {
    width: 199px;
}

.desserts-item {
    width: 215px;
}

.product-cost {
    color: #000;
    font-family: Forum,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 60px;
}

.menu-list {
    list-style: none;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-top: 40px;
    height: 40px;
}

.menu-line {
    height: 1px;
    width: 100px;
    background: #BB945F;
}

.contacts-info {
    margin: 0 20px 90px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
}

.contact-title {
    font-weight: 700;
}

.mail {
    font-weight: 700;
    text-decoration: none;
}

.phone-ref {
    text-decoration: none;
}

.info1 {
    display: block;
    margin-bottom: 40px;
}

.phone {
    margin-bottom: 20px;
}

.info2 {
    display:block;
    margin: 40px 0 20px;
}

.map-img {
    width: 696px;
    position: absolute;
    left: 704px;
    top: 0px;
}

.library-card {
    margin: 0 20px 40px;
}

.digital-card-container{
    display: flex;
    justify-content: space-between;
}

.check-card-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-left: 138px;
}

.check-card-area {
    box-sizing: border-box;
    width: 600px;
    height: 386px;
    padding: 20px;
    margin-top: 30px;
    border: 3px solid #BB945F;
}

.card-inputs {
    background: #BB945F;
    height: 272px;
    box-sizing: border-box;
    padding: 20px;
}

.inputs {
    width: 520px;
    height: 66px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFF;
    padding-left: 20px;
    border: 0px;
    margin-bottom: 25px;
    color: #8E8E8E;
    font-family: Forum, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.inputs-title {
    display: block;
    color: #000;
    font-family: Forum, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.button-check {
    width: 242px;
    height: 44px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 159px;
    transition: all 1s ease;
}

.button-check:hover { 
    background: #BB945F;
    border: 0;
}

.get-card {
    width: 456px;
}

.get-card-title {
    display: block;
    color: #000;
    text-align: right;
    font-family: Forum, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.get-card-info {
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
    margin: 35px 0;
}

.get-card-buttons{
    display: flex;
    justify-content: flex-end;
}

.button-get {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background: #FFF;
    transition: all 1s ease;
}

.button-log {
    margin-left: 20px;
    align-items: flex-end;
}

.button-get:hover { 
    background: #BB945F;
    border: 0;
}

.lib-footer {
    background: #0C0C0E;
    padding: 20px 20px 44px;
}

.footer-part1, .footer-part2{
    display: flex;
    justify-content: space-between;
}

.footer-part2 {
    margin-top: 10px;
}

.footer-text {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    text-decoration: none;
}

.footer-right-info {
    text-align: right;
}

.media-links-list {
    display: flex;
    align-items: center;
    width: 102px;
    justify-content: space-between;
    list-style: none;
}

.footer-part3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid #FFF;
    padding-top: 44px; 
    margin-top: 30px;
    text-decoration: none;
}

.footer-text-part3 {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

.rolling-scopes-link {
    margin-left: 494px;
    margin-right: 437px;
}
