* {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
  }

h1 {
    font-family: Forum,  sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left; 
    color: #FFF;
}

h2{
    color: #0C0C0E;
    font-family: Forum,sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: clip;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color:#0C0C0E;
    color: #FFFFFF;
}

.menu-icon-container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
}

.menu-burger-button {
    display: none;
    position: relative;
    width: 45px;
    height: 20px;
    background: #0C0C0E;
    border: 0;
}

.menu-burger-button span {
    display: block;
    background: #FFF;
    width: 45px;
    height: 2px;
    position: absolute;
    top: 50%;
    transition: 1s;
}

.menu-burger-button span:nth-child(2) {
    transform:translateY(-10px)
}

.menu-burger-button span:nth-child(3) {
    transform:translateY(10px)
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item {
    text-decoration: none;
    color: #FFF;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 30px;
}

.nav-item:hover { 
    color: #BB945F;
}

.icon-profile {
    display: flex;
    align-items: center;
    margin-left: 10px;
    z-index: 2;
    cursor: pointer;
    border: 0;
    background: #000;
}

.icon-profile img {
    background: #000;
    border: 0;
    border-radius: 50%;
}

.profile-in {
    display: none;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.profile-in span {
    color: #BB945F;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.icon-profile :hover{
    background-color: #BB945F;
    color:#000;
}

.profile {
    width: 80px;
    height: 115px;
    background-color: #FFF;
    position: absolute;
    top: 70px;
    right: 0;
    text-align: center;
    padding: 5px;
    transition: opacity 1s;
    opacity: 0;
}

.menu-icon-container.active-profile .profile{
    opacity: 1;
}

.profile-line {
    width: 40px;
    border-top: 1px solid #BB945F;;
    margin: 5px auto 10px;
}

.profile-title {
    font-size: 15px;
    font-weight: 700;
}

.profile-button {
    background-color:#FFF;
    border: 0;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.profile-button:hover{
    text-decoration: underline;
}

.profile-with-auth{
    display: none;
}

.section-welcome {
    background: url(img/Welcome.jpg);
    background-position: center center;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.overlay {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    height: 300px;
    width: 100%;
    position: relative;
}

.welcome-card{
    display: flex;
    position: absolute;
    top: 220px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    background: #0C0C0E;
}

.welcome-text {
    width: 520px;
    color: #FFF;
    text-align: center;
    font-family: Forum, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.description {
    color: #000;
    text-align: center;
    font-style: normal;
    line-height: 40px; 
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.create-line {
    width: 50px;
    border-top: 1px solid #0C0C0E;
    margin-top: 20px;
}

.arrows {
    display: none;
}

.images-items {
    display: flex;
    margin: 20px;
    overflow: hidden;
}

.images-items img {
    width: calc(98.26%/3);
    margin-right: 1.74%;
    object-fit: cover;
    transition: 2s;
}

.carousel-pagination {
    display: flex;
    justify-content: center;
    margin: 35px auto 55px;
}

.carousel-pagination .button-container:nth-child(n+4){
    display: none;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.carousel-button-active{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #BB945F;
    border: 0;
    cursor: pointer;
}

.carousel-button{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border: 0;
    cursor: pointer;
}

.carousel-button:hover { 
    background-color: #BB945F;
}

.content-favorites {
    display: inline;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}

.favorites {
    position: relative;
    height: 1419px;
}

.seasons-container{
    display: flex;
    max-width: 714px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    margin: 40px 15px 40px;
}

.button-winter {
    width: 108px;
}

.button-spring {
    width: 105px;
}

.button-summer {
    width: 120px;
}

.button-autumn {
    width: 116px;
}

.radiobutton-label {
    padding: 5px;
    cursor: pointer;
}

.radio-season{
    font-style: normal;
    line-height: normal;
}

.radiobutton:checked~.radio-season{
    font-weight: 700;
}

.custom-radio {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #000;
    border-radius: 50%;
    margin-right: 14px;
    margin-top: 5px;
    vertical-align: text-top;
    position: relative;
}

.custom-radio::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.radiobutton:checked + .custom-radio::before {
    display: block;
}

.radiobutton {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.books-container.active {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 1s;
}

.books-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1s;
}

.book {
    width: 590px;
    margin: 0 20px 40px;
}

.book-card {
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    padding: 15px 19px;
    border: 1px solid #000;
    position: relative;
    box-sizing: border-box;
}

.pick-title {
    color: #000;
    font-family: Forum, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book-line {
    width: 60px;
    border-top: 1px solid #BB945F;
    margin-bottom: 20px;
}

.book-info {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book-name {
    text-transform: uppercase;
}

.book-description {
    width: 358px;
    font-size: 15px;
    line-height: 40px; /* 266.667% */
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.button-buy{
    width: 75px;
    height: 30px;
    color: #0C0C0E;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background: #FFF;
    position: absolute;
    top: 509px;
    left: 19px;
    cursor: pointer;
    transition: all 1s ease;
}

.book-img {
    width: 200px;
    height: 300px;
    top: 255px;
    left: 390px;
    z-index: 1;
    position: absolute;
}

.button-buy:hover { 
    background: #BB945F;
    border: 0; 
}

.button-own{
    width: 75px;
    height: 30px;
    color: #BB945F;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #FFF;
    position: absolute;
    top:510px;
}

.content-coffee {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    margin: 0 19px 40px;
}

.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 18px 60px 20px;
}

.menu-title {
    color: #BB945F;
    font-family: Forum, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu-drinks {
    text-align: left;
}

.menu-desserts{
    text-align: right;
}

.product-name {
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.drinks-item {
    width: 196px;
    white-space: nowrap;
}

.desserts-item {
    width: 215px;
}

.product-cost {
    color: #000;
    font-family: Forum,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu-list {
    list-style: none;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-top: 40px;
    height: 40px;
}

.menu-line {
    height: 1px;
    width: 100px;
    background: #BB945F;
    margin: 0 60px;
}

.contact-wrapper {
    display: flex;
    margin: 0 20px 60px;
    white-space: nowrap;
    flex-wrap: wrap;
}

.contacts-info {
    color: #000;
    width: 505px;
    margin-right: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contact-title {
    font-weight: 700;
}

.mail {
    font-weight: 700;
    text-decoration: none;
}

.phone-ref {
    text-decoration: none;
}

.info1 {
    display: block;
    margin-bottom: 40px;
}

.phone {
    margin-bottom: 20px;
}

.info2 {
    display:block;
    margin: 40px 0 20px;
}

.map-wrapper {
    max-height: 414px;
}

.map-img {
    max-width: 100%;
}

.library-card {
    margin: 0 20px 40px;
}

.digital-card-container{
    display: flex;
    justify-content: space-between;
}

.check-card {
    width: 600px;
}

.check-card-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-left: 138px;
}

.check-card-area {
    box-sizing: border-box;
    width: 600px;
    height: 386px;
    padding: 17px;
    margin-top: 30px;
    border: 3px solid #BB945F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-inputs {
    background: #BB945F;
    height: 272px;
    box-sizing: border-box;
    padding: 20px;
}

.inputs {
    width: 520px;
    height: 66px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFF;
    padding-left: 20px;
    border: 0px;
    margin-bottom: 25px;
    color: #8E8E8E;
    font-family: Forum, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.inputs-title {
    display: block;
    color: #000;
    font-family: Forum, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.button-check {
    width: 242px;
    height: 44px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 159px;
    transition: all 1s ease;
}

.check-card-area .profile-options {
    display: none;
    gap: 20px;
    margin-top: 15px;
    margin-left: 215px;
}

.check-card-area .option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-card-area .option img {
    width: 20px;
}

.check-card-area .option-title {
    font-weight: 400;
    letter-spacing: 0.4px;
    font-size: 10px;
}

.check-card-area .option-numb {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.2px;
}

.button-check:hover { 
    background: #BB945F;
    border: 0;
}

.get-card {
    width: 456px;
}

.get-card-title {
    display: block;
    color: #000;
    text-align: right;
    font-family: Forum, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.get-card-info {
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
    margin: 35px 0;
}

.get-card-buttons{
    display: flex;
    justify-content: flex-end;
}

.button-get {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background: #FFF;
    transition: all 1s ease;
}

.button-log {
    margin-left: 20px;
}

.get-card-log-in {
    display: none;
}

.button-get:hover { 
    background: #BB945F;
    border: 0;
}

.lib-footer {
    background: #0C0C0E;
    padding: 20px 20px 44px;
}

.footer-part1, .footer-part2{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.footer-part2 {
    margin-top: 10px;
    align-items: center;
}

.footer-text {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    text-decoration: none;
}

.footer-right-info {
    text-align: right;
}

.media-links-list {
    display: flex;
    align-items: center;
    width: 107px;
    justify-content: space-between;
    list-style: none;
}

.media-links-list a {
    width: 28px;
    display: flex;
    align-items: center;
}

.footer-part3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid #FFF;
    padding-top: 44px; 
    margin-top: 30px;
    text-decoration: none;
}

.footer-text-part3 {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

.rolling-scopes-link {
    padding-left: 53px;
}

.footer-link, .footer-link-icon {
    transition: all 1s ease;
}

.footer-link:hover{
    color: #BB945F;
}

.footer-link-icon:hover{
    width: 28px;
    height: 28px;
}

.not-active {
    opacity: 0;
    visibility: hidden;
}

.modals-background {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    transition: 1s;
}

.window-log-reg {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 250px;
    background-color: #FFF;
    padding: 20px 25px;
    box-sizing: border-box;
    transition: 1s;
}

.window-log-reg input:invalid {
    border-color: rgb(201, 24, 24);
}

.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    background: #FFF;
    border: 0;
    margin: 15px;
    cursor:pointer;
}

.modal-label{
    font-size: 15px;
    letter-spacing: 0.3px;
}

.modal-input{
    padding: 0 5px;
    border: 1px solid #BB945F;
    width: 100%;
    height: 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.window-title {
    font-family: Forum;
    text-transform: uppercase;
    margin-bottom: 16px;
    text-align: center;
}

.modal-submit-btn{
    display: block;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #FFF;
    width: 75px;
    height: 30px;
    padding: 9px 0;
    font-size: 10px;
    font-weight: 700;
    margin-top: 15px;
}

.log-reg-question{
    color: #000;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 5px;
}

.log-reg-link {
    color: #0C0C0E;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration-line: underline;
    cursor: pointer;
}

.modal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    box-sizing: border-box;
    position: fixed;
}

.modal-profile {
    width: 600px;
    height: 403px;
}

.modal-profile-wrap {
    display: flex;
    flex-direction: row;
}

.modal-profile-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 170px;
    padding: 139px 25px;
}

.profile-initials {
    width: 80px;
    height: 80px;
    background-color: #FFF;
    text-align: center;
    padding: 30px 0;
    box-sizing: border-box;
}

.profile-initials span {
    color: #BB945F;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px; 
    text-transform: capitalize; 
}

.profile-name {
    width: 120px; 
    text-align: center;
    background-color: #FFF;
    margin-top: 15px;
    padding: 4px 15px;
    box-sizing: border-box;
}

.profile-name span {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
}

.modal-profile-right {
    width: 600px;
    padding: 40px 20px;
    background-color: #FFF;
}

.modal-profile-right .close-btn{
    margin: 25px;
}

.my-profile-title {
    font-family: Forum;
    font-size: 40px;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.modal-profile-right .profile-options {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.modal-profile-right .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal-profile-right .option img {
    width: 20px;
}

.modal-profile-right .option-title {
    font-weight: 400;
    letter-spacing: 0.4px;
}

.modal-profile-right .option-numb {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.2px;
}

.profile-lst-title {
    font-size: 25px;
    font-weight: 400;
    line-height: 20px; 
    margin-top: 20px;
    margin-bottom: 30px;
}

.profile-lst {
    margin-bottom: 37px;
}

.profile-lst li {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.card-numb {
    margin: 0 10px;
    color:#BB945F;
}

.modal-buy-card {
    width: 650px;
}

.buy-card-title{
    padding: 20px 0;
    background-color: #000;
    text-align: center;
}

.buy-card-title .close-btn {
    right: 8px;
    top: 10px;
    background-color: #000;
}

.buy-card-title p {
    color: #FFF;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.buy-card-info {
    display: flex;
    background: #FFF;
    padding: 27px 40px 40px;
    gap: 40px;
}

.buy-card-info form {
    width: 200px;
}

.buy-card-info .modal-input{
    margin: 9px 0 7px;
}

.modal-input2{
    padding: 0 5px;
    border: 1px solid #BB945F;
    width: 45px;
    height: 20px;
    margin: 9px 4px 7px 0;
    box-sizing: border-box;
}

.cvc-input{
    margin-bottom: 20px;
}

.card-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    position:absolute;
    bottom: 40px;
    left: 140px;
}

.buy-card-discription{
    width: 330px;
    height: 160px;
}

.buy-card-discription p{
    color: #8E8E8E;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
}

@media (max-width: 1260px){
    .favorites {
        height: 2608px;
    }

    .books-container {
        flex-direction: column;
        align-items:center;
    }

    .map-wrapper {
        margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contact-wrapper {
        margin-bottom: 60px;
    }
}

@media (max-width: 1024px){
    .menu-burger-button {
        display: block;
        margin-left: 40px;
    }

    .nav-list {
        flex-direction: column;
        position: absolute;
        box-sizing:border-box;
        justify-content: space-between;
        align-items: center;
        white-space:nowrap;
        width: 332px;
        height:570px;
        background-color: #0C0C0E;
        padding: 100px 107px;
        right: -20px;
        top: -30px;
        transform: translateX(100%);
    	transition: transform 1s; 
    }

    .nav-item {
        margin-right: 0;
    }

    .menu-icon-container.active .nav-list{
        transform: translateX(0);
    }

    .menu-icon-container.active .menu-burger-button span:nth-child(2) {
        transform: rotate(45deg);
    }
    
    .menu-icon-container.active .menu-burger-button span:nth-child(1) {
        opacity: 0;
    }
    
    .menu-icon-container.active .menu-burger-button span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .digital-card-container {
        flex-direction: column;
        align-items:center;
    }

    .get-card {
        width: 600px;
        margin-top: 21px;
    }

    .get-card *{
        text-align: center;
        
    }

    .get-card-info {
        margin: 40px 0;
    }

    .get-card-buttons {
        justify-content: center;
    }
}

@media (max-width: 960px){
    .menu-container {
        flex-direction:column;
    }

    .menu-desserts .menu-title {
        margin-top: 40px;
    }
    
    .menu-desserts .menu-item{
        justify-content: flex-end;
    }
}

@media (max-width: 768px){

    .seasons-container{
        background: #FFF;
        z-index: 20;
        position:sticky;
        top:0;
    }

    .images-items .img-wrapper:nth-child(n+2) {
        display:none;
    }

    .carousel-pagination .button-container:nth-child(n+4){
        display: flex;
    }

    .description {
        padding: 0px 20px;
    }

    .rolling-scopes-link {
        padding-left: 0;
    }

    .about {
        position: relative;
    }
    .arrows {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 10%;
        position:absolute;
        top: 490px;
    }

    .arrows button {
        border:0;
        background-color: #FFF;
    }

    .images-items img {
        width: 100%;
        margin-right: 20px;
    }

    .carousel-pagination {
        margin-top: 0px;
    }

    .images-items {
        margin-left: 159px;
        margin-right: 159px;
    }
}